{% extends "base.html" %}
    {% block title %}Django Bookmarks{% endblock %}


    {% block heading %}Welcome to Django Bookmarks {% endblock %}

    {% block content %}
        {% if user.username %}
            <p>Welcome {{ user.username }}!
            Here you can share and store Bookmarks!</p>
        {% else %}
            <p>Welcome Guest user!
            You need to <a href="/login/">login</a>
            before ypu can store and share bookmarks.</p>
        {% endif %}
    {% endblock %}