{% extends "base.html" %}
    {% block title %}Django Bookmarks - User : {{ username }} {% endblock %}

    {% block heading %}Bookmarks for {{ username }}{% endblock %}

    {% block content %}
        {% if bookmarks %}
            <ul>
                {% for bookmark in bookmarks %}
                    <li><a href="{{ bookmark.link.url }}">
                    {{ bookmark.title }}</a></li>
                {% endfor %}

            </ul>
        {% else %}
            <p>No Bookmarks Found.</p>
        {% endif %}
    {% endblock %}
